In [2]:
import pandas as pd
from pathlib import Path
import duckdb as db

In [46]:
# Localiser le chemin du fichier (on part du notebook vers processed/)
processed_path = Path("../processed/AMELI_ATC2_2021_to_2024_bis.csv")

# Charger le fichier CSV
df = pd.read_csv(processed_path)

In [47]:
df.duplicated().sum()

np.int64(0)

In [8]:
df.Libelle_ATC2.unique()

array(['PREPARATIONS STOMATOLOGIQUES',
       "MEDICAMENTS POUR LES TROUBLES DE L'ACIDITE",
       'MEDICAMENTS POUR LES TROUBLES FONCTIONNELS GASTROINTESTINAUX',
       'ANTIEMETIQUES ET ANTINAUSEEUX',
       'THERAPEUTIQUE HEPATIQUE ET BILIAIRE', 'LAXATIFS',
       'ANTIDIARRHEIQUES, ANTIINFLAMMATOIRES ET ANTIINFECTIEUX INTESTINAUX',
       'MEDICAMENTS DE LA DIGESTION, ENZYMES INCLUSES',
       'MEDICAMENTS DU DIABETE', 'VITAMINES', 'SUPPLEMENTS MINERAUX',
       'TONIQUES', 'ANABOLISANTS A USAGE SYSTEMIQUE',
       'AUTRES MEDICAMENTS DES VOIES DIGESTIVES ET DU METABOLISME',
       'ANTITHROMBOTIQUES', 'ANTIHEMMORRAGIQUES',
       'PREPARATIONS ANTIANEMIQUES',
       'SUBSTITUTS DU SANG ET SOLUTIONS DE PERFUSION',
       'AUTRES MEDICAMENTS UTILISES EN HEMATOLOGIE',
       'MEDICAMENTS EN CARDIOLOGIE', 'ANTIHYPERTENSEURS', 'DIURETIQUES',
       'VASODILATATEURS PERIPHERIQUES', 'VASCULOPROTECTEURS',
       'BETABLOQUANTS', 'INHIBITEURS CALCIQUES',
       'MEDICAMENTS AGISSANT SUR LE SYSTEME RENINE-ANGIOTENSINE',
       'AGENTS MODIFIANT LES LIPIDES',
       'ANTIFONGIQUES A USAGE DERMATOLOGIQUE',
       'EMOLLIENTS ET PROTECTEURS',
       'PREPARATIONS POUR LE TRAITEMENT DES PLAIES ET ULCERES',
       'MEDICAMENTS CONTRE LE PSORIASIS',
       'ANTIBIOTIQUES ET CHIMIOTHERAPIE A USAGE DERMATOLOGIQUE',
       'CORTICOIDES, PREPARATIONS DERMATOLOGIQUES',
       'ANTISEPTIQUES ET DESINFECTANTS', 'PREPARATIONS ANTIACNEIQUES',
       'AUTRES PREPARATIONS DERMATOLOGIQUES',
       'ANTIINFECTIEUX ET ANTISEPTIQUES A USAGE GYNECOLOGIQUE',
       'AUTRES MEDICAMENTS GYNECOLOGIQUES',
       'HORMONES SEXUELLES ET MODULATEURS DE LA FONCTION GENITALE',
       'MEDICAMENTS UROLOGIQUES',
       'HORMONES HYPOPHYSAIRES,HYPOTHALAMIQUES ET ANALOGUES',
       'CORTICOIDES A USAGE SYSTEMIQUE', 'MEDICAMENTS DE LA THYROIDE',
       'HORMONES PANCREATIQUES', "MEDICAMENTS DE L'EQUILIBRE CALCIQUE",
       'ANTIBACTERIENS A USAGE SYSTEMIQUE',
       'ANTIMYCOSIQUES A USAGE SYSTEMIQUE', 'ANTIMYCOBACTERIENS',
       'ANTIVIRAUX A USAGE SYSTEMIQUE', 'IMMUNSERUMS ET IMMUNOGLOBULINES',
       'VACCINS', 'ANTINEOPLASIQUES', 'THERAPEUTIQUE ENDOCRINE',
       'IMMUNOSTIMULANTS', 'IMMUNOSUPPRESSEURS',
       'ANTIINFLAMMATOIRES ET ANTIRHUMATISMAUX',
       'TOPIQUES POUR DOULEURS ARTICULAIRES OU MUSCULAIRES',
       'MYORELAXANTS', 'ANTIGOUTTEUX',
       'MEDICAMENTS POUR LE TRAITEMENT DES DESORDRES OSSEUX',
       'AUTRES MEDICAMENTS DES DESORDRES MUSCULOSQUELETTIQUES',
       'ANESTHESIQUES', 'ANALGESIQUES', 'ANTIEPILEPTIQUES',
       'ANTIPARKINSONIENS', 'PSYCHOLEPTIQUES', 'PSYCHOANALEPTIQUES',
       'AUTRES MEDICAMENTS DU SYSTEME NERVEUX', 'ANTIPROTOZOAIRES',
       'ANTHELMINTHIQUES', 'PYRETHRINES', 'PREPARATIONS NASALES',
       'MEDICAMENTS POUR LES SYNDROMES OBSTRUCTIFS DES VOIES AERIENNES',
       'MEDICAMENTS DU RHUME ET DE LA TOUX',
       'ANTIHISTAMINIQUES A USAGE SYSTEMIQUE',
       "AUTRES MEDICAMENTS DE L'APPAREIL RESPIRATOIRE",
       'MEDICAMENTS OPHTALMOLOGIQUES', 'MEDICAMENTS OTOLOGIQUES',
       'ALLERGENES', 'TOUS AUTRES MEDICAMENTS',
       'MEDICAMENTS POUR DIAGNOSTIC', 'NUTRIMENTS',
       'TOUS AUTRES PRODUITS NON THERAPEUTIQUES', 'PRODUITS DE CONTRASTE',
       'Homéopathie', 'Non déterminé'], dtype=object)

In [3]:
df.head()

,Code_ATC2,Libelle_ATC2,Taux_de_remboursement,date,Base_de_remboursement,Montant_remboursé,Nombre_de_boites_remboursées
0,A01,PREPARATIONS STOMATOLOGIQUES,100%,2021-01-01,315120.25,315120.25,110516.0
1,A01,PREPARATIONS STOMATOLOGIQUES,100%,2021-02-01,308886.20,308886.20,107700.0
2,A01,PREPARATIONS STOMATOLOGIQUES,100%,2021-03-01,368405.72,368405.72,127223.0
3,A01,PREPARATIONS STOMATOLOGIQUES,100%,2021-04-01,340894.06,340894.06,117039.0
4,A01,PREPARATIONS STOMATOLOGIQUES,100%,2021-05-01,306747.14,306747.14,105068.0

In [6]:
df.groupby('Libelle_ATC2')['Montant_remboursé'].sum().sort_values(ascending=False)

Libelle_ATC2
ANTINEOPLASIQUES                                         1.038011e+10
IMMUNOSUPPRESSEURS                                       9.354388e+09
MEDICAMENTS DU DIABETE                                   6.632360e+09
ANTITHROMBOTIQUES                                        5.631191e+09
THERAPEUTIQUE ENDOCRINE                                  5.364124e+09
                                                             ...
NUTRIMENTS                                               3.613063e+06
VASCULOPROTECTEURS                                       3.209808e+06
PREPARATIONS POUR LE TRAITEMENT DES PLAIES ET ULCERES    1.291063e+06
TONIQUES                                                 8.505740e+03
ANABOLISANTS A USAGE SYSTEMIQUE                          1.643480e+03
Name: Montant_remboursé, Length: 87, dtype: float64

In [48]:
query = """
SELECT 
SUM(Montant_remboursé) as Total
FROM df
WHERE Code_ATC2 LIKE 'L01'
"""
db.sql(query).df()

          Total
0  1.038011e+10

In [49]:
# Localiser le chemin du fichier (on part du notebook vers processed/)
processed_path5 = Path("../processed/AMELI_ATC5_2021_to_2024.csv")
processed_path5bis = Path("../processed/AMELI_ATC5_2021_to_2024_bis.csv")

# Charger le fichier CSV
df5 = pd.read_csv(processed_path5)
df5bis = pd.read_csv(processed_path5bis)

In [40]:
df5.head()

,Code_ATC5,Libelle_ATC5,Taux_de_remboursement,date,Base_de_remboursement,Montant_remboursé,Nombre_de_boites_remboursées
0,A01AA01,SODIUM FLUORURE,100%,2021-01-01,250.82,250.82,141
1,A01AA01,SODIUM FLUORURE,100%,2021-02-01,287.61,287.61,156
2,A01AA01,SODIUM FLUORURE,100%,2021-03-01,301.97,301.97,167
3,A01AA01,SODIUM FLUORURE,100%,2021-04-01,285.92,285.92,158
4,A01AA01,SODIUM FLUORURE,100%,2021-05-01,235.58,235.58,121

In [51]:
print(df5.shape)
print(df5bis.shape)

(111324, 7)
(108312, 7)

In [41]:
query = """
SELECT 
SUM(Montant_remboursé) as Total
FROM df5
WHERE Code_ATC5 LIKE 'L01%'
"""
db.sql(query).df()

          Total
0  1.086819e+10

In [52]:
query="""
SELECT *
FROM df5
WHERE LENGTH(Code_ATC5) < 7
"""
db.sql(query)

┌───────────┬────────────────────────────────────┬───────────────────────┬────────────┬───────────────────────┬───────────────────┬──────────────────────────────┐
│ Code_ATC5 │            Libelle_ATC5            │ Taux_de_remboursement │    date    │ Base_de_remboursement │ Montant_remboursé │ Nombre_de_boites_remboursées │
│  varchar  │              varchar               │        varchar        │  varchar   │        double         │      double       │            int64             │
├───────────┼────────────────────────────────────┼───────────────────────┼────────────┼───────────────────────┼───────────────────┼──────────────────────────────┤
│ A02AH     │ ANTIACIDES + BICARBONATE DE SODIUM │ 100%                  │ 2024-01-01 │              14407.14 │          14407.14 │                          526 │
│ A02AH     │ ANTIACIDES + BICARBONATE DE SODIUM │ 100%                  │ 2024-02-01 │              56112.32 │          56112.32 │                         2048 │
│ A02AH     │ ANTIACIDES + BICARBONATE DE SODIUM │ 100%                  │ 2024-03-01 │             112236.59 │         112236.59 │                         4095 │
│ A02AH     │ ANTIACIDES + BICARBONATE DE SODIUM │ 100%                  │ 2024-04-01 │             194371.01 │         194371.01 │                         7089 │
│ A02AH     │ ANTIACIDES + BICARBONATE DE SODIUM │ 100%                  │ 2024-05-01 │             241646.21 │         241646.21 │                         8810 │
│ A02AH     │ ANTIACIDES + BICARBONATE DE SODIUM │ 100%                  │ 2024-06-01 │              278878.4 │          278878.4 │                        10163 │
│ A02AH     │ ANTIACIDES + BICARBONATE DE SODIUM │ 100%                  │ 2024-07-01 │              385354.5 │          385354.5 │                        14019 │
│ A02AH     │ ANTIACIDES + BICARBONATE DE SODIUM │ 100%                  │ 2024-08-01 │             368268.75 │         368268.75 │                        13398 │
│ A02AH     │ ANTIACIDES + BICARBONATE DE SODIUM │ 100%                  │ 2024-09-01 │             416687.61 │         416687.61 │                        15141 │
│ A02AH     │ ANTIACIDES + BICARBONATE DE SODIUM │ 100%                  │ 2024-10-01 │              506539.3 │          506539.3 │                        18394 │
│ ·         │       ·                            │  ·                    │     ·      │                    ·  │                ·  │                            · │
│ ·         │       ·                            │  ·                    │     ·      │                    ·  │                ·  │                            · │
│ ·         │       ·                            │  ·                    │     ·      │                    ·  │                ·  │                            · │
│ X         │ Non déterminé                      │ non à 100%            │ 2024-03-01 │                   0.0 │               0.0 │                            0 │
│ X         │ Non déterminé                      │ non à 100%            │ 2024-04-01 │                   0.0 │               0.0 │                            0 │
│ X         │ Non déterminé                      │ non à 100%            │ 2024-05-01 │                 56.99 │             37.04 │                            1 │
│ X         │ Non déterminé                      │ non à 100%            │ 2024-06-01 │                   0.0 │               0.0 │                            0 │
│ X         │ Non déterminé                      │ non à 100%            │ 2024-07-01 │             238935.41 │         238935.41 │                         1598 │
│ X         │ Non déterminé                      │ non à 100%            │ 2024-08-01 │             196965.01 │         196965.01 │                         1330 │
│ X         │ Non déterminé                      │ non à 100%            │ 2024-09-01 │             197382.53 │         197382.53 │                         1324 │
│ X         │ Non déterminé                      │ non à 100%            │ 2024-10-01 │             217058.47 │         217058.47 │                         1456 │
│ X         │ Non déterminé                      │ non à 100%            │ 2024-11-01 │             189095.44 │         189095.44 │                         1293 │
│ X         │ Non déterminé                      │ non à 100%            │ 2024-12-01 │             207685.44 │         207685.44 │                         1402 │
├───────────┴────────────────────────────────────┴───────────────────────┴────────────┴───────────────────────┴───────────────────┴──────────────────────────────┤
│ 3012 rows (20 shown)                                                                                                                                 7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [44]:
query="""
SELECT Code_ATC5, Libelle_ATC5, COUNT(*) AS nb_lignes
FROM df5
WHERE LENGTH(Code_ATC5) != 7
GROUP BY Code_ATC5, Libelle_ATC5
"""
db.sql(query).df()

Empty DataFrame
Columns: [Code_ATC5, Libelle_ATC5, nb_lignes]
Index: []

In [12]:
# Localiser le chemin du fichier (on part du notebook vers processed/)
processed_path3 = Path("../processed/AMELI_ATC3_2021_to_2024.csv")

# Charger le fichier CSV
df3 = pd.read_csv(processed_path3)

In [10]:
query = """
SELECT 
SUM(Montant_remboursé) as Total
FROM df3
WHERE Code_ATC3 LIKE 'L01%'
"""
db.sql(query).df()

          Total
0  7.863624e+09

In [14]:
# Localiser le chemin du fichier (on part du notebook vers processed/)
processed_path4 = Path("../processed/AMELI_ATC4_2021_to_2024.csv")

# Charger le fichier CSV
df4 = pd.read_csv(processed_path4)

In [15]:
query = """
SELECT 
SUM(Montant_remboursé) as Total
FROM df4
WHERE Code_ATC4 LIKE 'L01%'
"""
db.sql(query).df()

          Total
0  8.846046e+09

In [16]:
query="""
SELECT Code_ATC4
FROM df4
WHERE Code_ATC4 LIKE 'S01E%'
"""
db.sql(query)

┌────────────┐
│ Code_ATC4  │
│  varchar   │
├────────────┤
│ S01EA      │
│ S01EA      │
│ S01EA      │
│ S01EA      │
│ S01EA      │
│ S01EA      │
│ S01EA      │
│ S01EA      │
│ S01EA      │
│ S01EA      │
│   ·        │
│   ·        │
│   ·        │
│ S01EE      │
│ S01EE      │
│ S01EE      │
│ S01EE      │
│ S01EE      │
│ S01EE      │
│ S01EE      │
│ S01EE      │
│ S01EE      │
│ S01EE      │
├────────────┤
│  480 rows  │
│ (20 shown) │
└────────────┘